<div class="mastfoot">
  <div class="inner">
    <p>
      <a href="http://maps.google.com/?q=679%20Sargent%20Ave%20%20Winnipeg%20MB%20CA">679 Sargent Ave</a> <span itemprop="telephone"><a href="tel:2045001382">204-500-1382</a></span><br />
      <a href="mailto:brock@strongbadgercoffee.ca">brock@strongbadgercoffee.ca</a></p>
    <p class="external-link-icons">
      <a href="https://www.facebook.com/strongbadgercoffee">{{fa-icon "facebook-square" size="lg"}}</a>
      <a href="https://instagram.com/strongbadgercoffee">{{fa-icon "instagram" size="lg"}}</a>
      <a href="https://github.com/camerontucker/strongbadger">{{fa-icon "github-square" size="lg"}}</a>
    </p>
  </div>
</div>