<div class="media inner cover">
  <div class="media-body">
    <h5 class="media-heading">My Name is Brock Peters</h5>
    <p class="lead">Born in the Yukon but raised in Winnipeg, I'm a lover of books, music, writing, nature, and community.</p>
    <img class="hidden-sm-up img-fluid img-rounded" id="brockpeters-middle" src="assets/images/brock.jpg" alt="Brock Peters">
    <p>Over the past few months, my dream of opening a coffee shop has changed and grown. I want to create a place where good, ethical coffee can come together with the arts - books, readings, performances, and artwork - and coalesce into a creative, community-oriented space where everyone is welcome. The call to hospitality has always challenged my introverted nature, but I believe that we were created to live in community, to share the challenges and joys of life together, and to learn what it means to love one another.</p>
  </div>
  <div class="media-right media-middle hidden-xs-down hidden-lg-up">
    <img class="media-object img-rounded" id="brockpeters-side" src="assets/images/brock.jpg" alt="Brock Peters">
  </div>
</div>