<div class="inner cover">
  <div class="col-md-4">
    <h2>The Method</h2>
    <p class="lead">We will pour, press, brew, and yes, even steep! (tea)</p>
  </div>
  <div class="col-md-4">
    <h2>The Beans</h2>
    <p class="lead">Single-origin blah blah blah</p>
  </div>
  <div class="col-md-4">
    <h2>The Merchandise</h2>
    <p class="lead">Your very own badger-themed coffee equipment</p>
  </div>
</div>