<div class="inner cover">
  <h1 class="cover-heading">Coming Spring/Summer 2016!!!</h1>
  <p class="lead">Coffee collides with the arts in the west end of Winnipeg</p>
    {{#link-to 'about'}}
        Find out more
    {{/link-to}}
</div>
<div class="mobile-footer">
  <footer></footer>
</div>